.dashboardcontainer {
  width: 100%;
  height: 4136px;
  padding: 20px;
}

.dashboardheader {
  width: 1020px;
  border-radius: 24px;
  box-shadow: 0 0 1.25px #89898a;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.dashboardheaddetails h1 {
  color: #1d293d;
  font-size: 48px;
  font-weight: bold;
}

.dashboardheaddetails p {
  color: #52525c;
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  display: block;
}

.headertags {
  display: flex;
  gap: 20px;
}

.protag {
  color: #bb4d00;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #fee685;
  width: fit-content;
  background-color: #fef3c6;
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 6px;
  padding: 8px;
}

.verifiedtag {
  color: #007a55;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #a4f4cf;
  width: fit-content;
  background-color: #d0fae5;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 6px;
  margin-top: 12px;
}

.verifiedtag1 {
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #a4f4cf;
  width: fit-content;
  background-color: #d0fae5;
  display: flex;
  align-items: center;
  padding: 4px;
  color: #10b981;
}

.verifiedtag2 {
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 4px;
  color: #8b5cf6;
}

.verifiedtag3 {
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #f59e0b;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 4px;
  color: #f59e0b;
}

.categorytag {
  color: #3f3f47;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #e6e5e5;
  width: fit-content;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 4px;
}

.addnewlisting {
  height: 56px;
  width: 200px;
  border-radius: 8px;
  background: linear-gradient(135deg, #155dfc, #4f39f6);
  border-color: #4f39f6;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  display: flex;
  margin-top: 30px;
  gap: 8px;
  justify-content: center;
}

.dashboardstats {
  display: flex;
  gap: 20px;
  width: 1020px;
  margin-top: 20px;
}

.mylistings {
  background: linear-gradient(135deg, #eff6ff, #eef2ff);
  height: 190px;
  width: 240px;
  border-radius: 14px;
  box-shadow: 0px 4px 6px #7e7f80;
  padding: 20px;
}

.mylistings1 {
  background: linear-gradient(135deg, #faf5ff, #f5f3ff);
  height: 190px;
  width: 240px;
  border-radius: 14px;
  box-shadow: 0px 4px 6px #7e7f80;
  padding: 20px;
}

.mylistings2 {
  background: linear-gradient(135deg, #ecfdf5, #f0fdf4);
  height: 190px;
  width: 240px;
  border-radius: 14px;
  box-shadow: 0px 4px 6px #7e7f80;
  padding: 20px;
}

.mylistings3 {
  background: linear-gradient(135deg, #fffbeb, #fefce8);
  height: 190px;
  width: 240px;
  border-radius: 14px;
  box-shadow: 0px 4px 6px #7e7f80;
  padding: 20px;
}

.mylistingstop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mylistingsname {
  color: #52525c;
  font-size: 14px;
  font-weight: 400;
}

.mylistings span {
  height: 42px;
  width: 42px;
  background: linear-gradient(135deg, #51a2ff, #615fff, #155dfc);
  color: #ffffff;
  border-radius: 16px;
  font-size: 24px;
  display: block;
  padding: 9px;
}

.mylistings1 span {
  height: 42px;
  width: 42px;
  background: linear-gradient(135deg, #c27aff, #8e51ff, #9810fa);
  color: #ffffff;
  border-radius: 16px;
  font-size: 24px;
  display: block;
  padding: 9px;
}

.mylistings2 span {
  height: 42px;
  width: 42px;
  background: linear-gradient(135deg, #00d492, #00c950, #009966);
  color: #ffffff;
  border-radius: 16px;
  font-size: 24px;
  display: block;
  padding: 9px;
}

.mylistings3 span {
  height: 42px;
  width: 42px;
  background: linear-gradient(135deg, #ffb900, #fdc700, #fe9a00);
  color: #ffffff;
  border-radius: 16px;
  font-size: 24px;
  display: block;
  padding: 9px;
}

.dashboardstatnum {
  color: #18181b;
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;
}

.dashboardstatcta {
  color: #52525c;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 6px;
}

.performancemetrics {
  height: 278px;
  width: 1020px;
  border-radius: 14px;
  box-shadow: 0px 4px 6px #b1b1b1;
  margin-top: 20px;
}

.performancementricshead {
  height: 98px;
  width: 1020px;
  border-radius: 14px;
  background: linear-gradient(135deg, #faf5ff, #f5f3ff);
  padding: 24px;
}

.performancemetricstitle {
  color: #18181b;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.performancemetricsicon {
  color: #9810fa;
  font-size: 20px;
}

.activelistingsicon {
  color: #155dfc;
  font-size: 20px;
}

.enquiriesicon {
  color: #009966;
  font-size: 20px;
}

.ticketsicon {
  color: #e7000b;
  font-size: 20px;
}

.actionsicon {
  color: #4a5565;
  font-size: 20px;
}

.performancemetricsnote {
  color: #52525c;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.performancestats {
  margin: 30px 0 0 20px;
  display: flex;
  gap: 12px;
}

.perfromstat {
  height: 106px;
  width: 235px;
  background: linear-gradient(135deg, rgb(242, 242, 27), #ffffff);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.3);
}

.performvalue {
  display: flex;
  gap: 10px;
}

.perfromstat p {
  color: #52525c;
  font-size: 14px;
  font-weight: 600;
}

.performvaluenum {
  color: #009966;
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}

.performvaluenum1 {
  color: #155dfc;
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}
.performvaluenum2 {
  color: #e17100;
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}
.performvaluenum3 {
  color: #9810fa;
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;
}

.performvaluegrowth {
  color: #007a55;
  font-size: 12px;
  font-weight: 400;
  width: fit-content;
  background-color: #d0fae5;
  border-radius: 8px;
  border: 1px solid #a4f4cf;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;
}

.performvaluegrowth1 {
  color: #1447e6;
  font-size: 12px;
  font-weight: 400;
  width: fit-content;
  background-color: #dbeafe;
  border-radius: 8px;
  border: 1px solid #bedbff;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;
}
.performvaluegrowth2 {
  color: #bb4d00;
  font-size: 12px;
  font-weight: 400;
  width: fit-content;
  background-color: #fef3c6;
  border-radius: 8px;
  border: 1px solid #fee685;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;
}
.performvaluegrowth3 {
  color: #8200db;
  font-size: 12px;
  font-weight: 400;
  width: fit-content;
  background-color: #f3e8ff;
  border-radius: 8px;
  border: 1px solid #e9d4ff;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;
}

.activelistings {
  height: 1214px;
  width: 1020px;
  border-radius: 14px;
  border: 1px solid #e6e5e5;
  margin-top: 30px;
}

.activelistingshead {
  height: 102px;
  width: 1020px;
  border-radius: 14px;
  background: linear-gradient(180deg, #eff6ff, #eef2ff);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.activelistingshead1 {
  height: 102px;
  width: 1020px;
  border-radius: 14px;
  background: linear-gradient(180deg, #ecfdf5, #f0fdf4);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.supportticketsheader {
  height: 98px;
  width: 1020px;
  border-radius: 14px;
  background: linear-gradient(180deg, #fef2f2, #fff1f2);
  padding: 20px;
}

.quickactionsheader {
  height: 98px;
  width: 1020px;
  border-radius: 14px;
  background: linear-gradient(180deg, #f9fafb, #f9fafb);
  padding: 20px;
}

.viewalllistings {
  background-color: #155dfc;
  width: 134px;
  height: 32px;
  padding: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.viewallleads {
  background-color: #009966;
  width: 134px;
  height: 32px;
  padding: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
}

.activelistingslist {
  padding: 30px;
}

.listingcontainer {
  height: 250px;
  width: 965px;
  border-radius: 16px;
  border: 1px solid #e6e5e5;
  margin-top: 16px;
}

.listingcontainertop {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.listingcontainerleft h2 {
  color: #18181b;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.listingcontainerleft p {
  color: #52525c;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.listingcontainerright {
  color: #314158;
  font-size: 24px;
  font-weight: bold;
}

.listingcontainerbottom {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.listingproductstat {
  background-color: #eff6ff;
  height: 80px;
  width: 310px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding-top: 10px;
}

.listingproductstat span {
  color: #155dfc;
}

.listingproductstat h3 {
  color: #18181b;
  font-weight: bold;
  font-size: 14px;
}

.listingproductstat p {
  color: #52525c;
  font-size: 12px;
  font-weight: 400;
}

.listingproductstat1 {
  background-color: #ecfdf5;
  height: 80px;
  width: 310px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding-top: 10px;
}

.listingproductstat1 span {
  color: #009966;
}

.listingproductstat1 h3 {
  color: #18181b;
  font-weight: bold;
  font-size: 14px;
}

.listingproductstat1 p {
  color: #52525c;
  font-size: 12px;
  font-weight: 400;
}

.listingproductstat2 {
  background-color: #faf5ff;
  height: 80px;
  width: 310px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  padding-top: 10px;
}

.listingproductstat2 span {
  color: #9810fa;
}

.listingproductstat2 h3 {
  color: #18181b;
  font-weight: bold;
  font-size: 14px;
}

.listingproductstat2 p {
  color: #52525c;
  font-size: 12px;
  font-weight: 400;
}

.buyerenquiries {
  height: 475px;
  width: 1020px;
  border-radius: 14px;
  border: 1px solid #e6e5e5;
  margin-top: 20px;
}

.enquiriesdetails {
  padding: 24px;
}

.enquiryinfo {
  height: 100px;
  width: 965px;
  border-radius: 14px;
  border: 1px solid #e6e5e5;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.enquiryinfo1 {
  height: 85px;
  width: 965px;
  border-radius: 14px;
  border: 1px solid #e6e5e5;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.enquiryinfoleft {
  padding: 12px;
  display: flex;
  gap: 14px;
}

.buyerprofile {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: linear-gradient(135deg, #51a2ff, #615fff);
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
}

.buyerprofile1 {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff6467, #ff2056);
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
}

.buyerprofile2 {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: linear-gradient(135deg, #99a1af, #6a7282);
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
}

.buyerdetails {
  list-style: none;
  gap: 12px;
}

.buyername {
  color: #18181b;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.buyerproduct {
  color: #52525c;
  font-size: 14px;
  font-weight: 600;
}

.buyertime {
  color: #71717b;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}

.buyertag {
  color: #3b82f6;
  border: 1px solid #3b82f6;
  width: fit-content;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  padding: 4px;
}

.progresstag {
  color: #f59e0b;
  border: 1px solid #f59e0b;
  width: fit-content;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  padding: 4px;
}

.respondedtag {
  color: #10b981;
  border: 1px solid #10b981;
  width: fit-content;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  padding: 4px;
}

.respondtag {
  color: #007a55;
  border: 1px solid #5ee9b5;
  width: fit-content;
  height: 30px;
  margin: 26px 10px 0 0;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px;
}

.ticketviewtag {
  color: #c10007;
  border: 1px solid #ffa2a2;
  width: fit-content;
  height: 30px;
  margin: 16px 10px 0 0;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px;
}

.quickactiontag {
  color: #364153;
  border: 1px solid #d1d5dc;
  width: fit-content;
  height: 30px;
  margin: 16px 10px 0 0;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 6px;
}

.supporttickets {
  height: 425px;
  width: 1020px;
  border-radius: 14px;
  border: 1px solid #e6e5e5;
  margin-top: 20px;
}

.quickactions {
  height: 530px;
  width: 1020px;
  border-radius: 14px;
  border: 1px solid #e6e5e5;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .dashboardcontainer {
    width: 100%;
    height: 100%;
    padding: 0px 12px;
  }

  .dashboardheader {
    width: 100%;
    height: auto;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .dashboardheaddetails {
    width: 100%;
  }

  .dashboardheaddetails h1 {
    font-size: 24px;
  }

  .dashboardheaddetails p {
    font-size: 13px;
  }

  .protag {
    width: fit-content;
    padding: 6px 10px;
    font-size: 12px;
  }

  .addnewlisting {
    width: fit-content;
    height: auto;
    padding: 6px 12px;
    font-size: 13px;
  }

  .dashboardstats {
    width: 100%;
    flex-wrap: wrap;
  }

  .mylistings,
  .mylistings1,
  .mylistings2,
  .mylistings3 {
    width: calc(50% - 10px);
    height: auto;
    padding: 14px;
  }

  .mylistingsname {
    font-size: 11px;
  }

  .dashboardstatnum {
    font-size: 24px;
    margin-top: 16px;
  }

  .dashboardstatcta {
    font-size: 11px;
    margin-top: 8px;
  }

  .mylistings span,
  .mylistings1 span,
  .mylistings2 span,
  .mylistings3 span {
    height: 32px;
    width: 32px;
    font-size: 18px;
    padding: 7px;
    border-radius: 12px;
  }

  .performancemetrics {
    width: 100%;
    height: auto;
  }

  .performancementricshead {
    width: 100%;
  }

  .performancestats {
    width: 100%;
    flex-direction: column;
    padding-bottom: 24px;
  }

  .perfromstat {
    width: 90%;
  }

  .activelistings {
    width: 100%;
    height: auto;
  }

  .activelistingshead {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 12px;
  }

  .activelistingslist {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .listingcontainer {
    width: 100%;
  }

  .listingcontainerleft h2 {
    font-size: 14px;
  }

  .listingcontainerleft p {
    font-size: 12px;
  }

  .listingcontainerright {
    font-size: 16px;
  }

  .buyerenquiries {
    width: 100%;
    height: auto;
  }

  .activelistingshead1 {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 12px;
  }

  .enquiriesdetails {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .enquiryinfo {
    width: 100%;
    height: auto;
    padding: 16px 10px;
  }

  .buyerprofile {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .buyername {
    font-size: 10px;
  }

  .buyertag {
    width: fit-content;
    padding: 4px 8px;
    font-size: 8px;
  }

  .buyerproduct {
    font-size: 12px;
  }
  .respondtag {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    font-size: 10px;
  }

  .supporttickets {
    width: 100%;
    height: auto;
  }

  .supportticketsheader {
    width: 100%;
  }

  .enquiriesdetails {
    width: 100%;
    padding: 16px;
  }

  .enquiryinfo1 {
    width: 100%;
    padding: 12px 10px;
  }

  .buyerprofile1 {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .quickactions {
    width: 100%;
    height: auto;
  }

  .quickactionsheader {
    width: 100%;
  }

  .quickactions {
    width: 100%;
    height: auto;
  }

  .enquiriesdetails {
    width: 100%;
    padding: 16px;
  }

  .enquiryinfo1 {
    width: 100%;
    height: auto;
  }

  .dashboardcontainer {
    height: auto;
  }

  .listingcontainer {
    height: auto;
  }

  .listingcontainerbottom {
    flex-direction: column;
  }

  .listingproductstat,
  .listingproductstat1,
  .listingproductstat2 {
    width: 100%;
  }

  .listingproductstat h3,
  .listingproductstat1 h3,
  .listingproductstat2 h3 {
    font-size: 12px;
  }

  .listingproductstat p,
  .listingproductstat1 p,
  .listingproductstat2 p {
    font-size: 10px;
  }

  .performancemetricstitle {
    font-size: 13px;
  }

  .performancemetricsnote {
    font-size: 13px;
  }

  .perfromstat p {
    font-size: 12px;
  }

  .performvaluenum,
  .performvaluenum1,
  .performvaluenum2,
  .performvaluenum3 {
    font-size: 22px;
  }

  .performvaluegrowth,
  .performvaluegrowth1,
  .performvaluegrowth2,
  .performvaluegrowth3 {
    font-size: 10px;
  }

  .activelistingshead h2,
  .activelistingshead1 h2 {
    font-size: 14px;
  }

  .activelistingshead p,
  .activelistingshead1 p {
    font-size: 12px;
  }

  .viewalllistings,
  .viewallleads {
    font-size: 12px;
    width: auto;
    padding: 4px 10px;
  }

  .buyerproduct {
    font-size: 11px;
  }

  .buyertime {
    font-size: 10px;
  }

  .progresstag,
  .respondedtag {
    font-size: 8px;
  }

  .ticketviewtag,
  .quickactiontag {
    font-size: 11px;
  }
}
